.arroIcon {
  width: 297.3px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  height: 51px;
  z-index: 0;
}
.paragraph,
.title {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.title {
  font-size: inherit;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}
.paragraph {
  font-size: var(--font-size-xs);
  line-height: 110%;
  color: var(--body-text);
}
.arrowstepper,
.titletext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.titletext {
  align-self: stretch;
  gap: var(--gap-9xs);
  z-index: 1;
}
.arrowstepper {
  width: 282px;
  padding: 10px var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--green-brand);
  font-family: var(--font-inter);
  cursor: pointer;
  gap: 0.5rem;
  
}
