.logoIcon,
.server1Icon {
  width: 75.2px;
  position: relative;
  height: 56px;
}

.server1Icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.devices {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
}

.menuItem {
  border-radius: var(--br-3xs);
  background-color: var(--green-brand);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
  gap: var(--gap-5xs);
}

.headermenu,
.menuItem,
.menuItem1,
.navgroup {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}

.menuItem1 {
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white-100);
  border: 1px solid var(--color-gray-100);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
  gap: var(--gap-5xs);
  color: var(--primarytext);
  cursor: pointer;
}

.headermenu,
.navgroup {
  flex-direction: column;
  align-items: flex-start;
}

.navgroup {
  gap: 13px;
}

.headermenu {
  gap: var(--gap-61xl);
}

.icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.helpbutton {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white-100);
  border: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  gap: var(--gap-5xs);
  color: var(--neutral-black-90);
}

.navbar {
  width: 240px;
  background-color: var(--background-green);
  height: 978px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 16px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--neutral-white-100);
  font-family: var(--font-inter);
}