$backBtnCOlor: #e47078;
$labelColor: #4f4f4f;
$inputBorderColor: #9c9c9c;
$inputHoverBorder: #2f80ed;
$inputTxtColor: #bdbdbd;
$avatharColor: #ff7a00;

@mixin align-center {
  display: flex;
  align-items: center;
}

#viewUserPage {
  width: 100%;
  font-family: $fontPrimary !important;

  .userInfo {
    .profileGrp {
      @include align-center;
      gap: 0.6rem;

      .profileavatarIcon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $avatharColor;

        justify-content: center;
        font-size: 13px;
        color: $whiteColor;
        font-family: $fontPrimary;
        font-weight: 500;
        @include align-center;
      }

      .profileName {
        color: $blackColor;
        font-size: clamp(14px, 0.93vw, 20px);
        font-weight: 400;
        line-height: 100%;
        margin: 0;
        padding-right: 0.5rem;
      }

      .status {
        gap: 4px;
        font-size: clamp(13px, 0.83vw, 16px);
        font-weight: 400;
        @include align-center;

        &.active {
          color: $greenColor;
        }

        &.inactive {
          color: $secondaryColor;
        }
      }
    }

    .joiningInfo {
      gap: 5px;
      color: $blackColor;
      font-size: clamp(13px, 0.83vw, 16px);
      font-weight: 400;
      margin: 1rem 0;
      @include align-center;
    }

    .contactDetails {
      @include align-center;
      justify-content: flex-start;
      gap: 0.8rem;

      .contactInfo {
        color: $blackColor;
        font-size: clamp(13px, 0.83vw, 16px);
        font-weight: 400;
        gap: 5px;
        border-radius: 4px;
        border: 1px solid #00000033;
        padding: 6px 12px;
        @include align-center;
      }
    }
  }

  .userDevices {
    box-shadow: none;
    border-radius: 8px;
    background-color: $whiteColor;
    overflow: hidden;
    margin-top: 16px;
    border: 1px solid $textFeildStroke;

    .blockHeading {
      color: $blackColor;
      font-size: clamp(14px, 0.83vw, 18px);
      font-weight: 400;
      margin: 0;
      border-bottom: 1px solid $textFeildStroke;
      padding: 12px;
    }
  }
}

.noDataBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-block: 2rem;

  .textBlock {
    margin-block: 2rem 1rem;

    .noDataTxt {
      color: $blackColor;
      text-align: center;
      font-family: $fontPrimary;
      font-size: clamp(13px, 0.83vw, 18px);
      font-weight: 400;
      margin: 0;
    }
  }

  .addUserBtn {
    border-radius: 4px;
    border: 1px solid $primaryColor;
    color: $primaryColor;
    font-family: $fontPrimary;
    font-size: clamp(12px, 0.72vw, 15px);
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0;
    padding: 5px 10px;

    svg {
      font-size: 16px;
    }

    &:hover {
      border: 1px solid $primaryColor;
      color: $primaryColor;
    }
  }
}

.devicesGrp {
  padding: 12px;
  height: calc(100vh - 160px);
  overflow-y: auto;

  .eachDeviceBlock {
    background-color: $whiteColor;
    box-shadow: none;
    border: 1px solid $textFeildStroke;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  .headerBlock {
    border-bottom: 1px solid $textFeildStroke;
    padding: 10px;

    .editbtn {
      padding: 4px 10px !important;
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .header {
      @include align-center();
      justify-content: space-between;
      margin-bottom: 1rem;

      .deviceTItle {
        color: $blackColor;
        font-family: $fontPrimary;
        font-size: clamp(14px, 0.93vw, 20px);
        font-weight: 500;
        margin: 0;
        white-space: pre-line !important;
        white-space: pre-wrap !important;
      }

      .settingsBlock {
        @include align-center();
        gap: 1rem;

        .deviceStatus {
          border-radius: 4px;
          padding: 6px 10px;
          gap: 4px;
          @include align-center();

          &.online {
            background-color: #45a8451a;
            color: $primaryColor;
          }

          &.offline {
            color: $secondaryColor !important;
            background-color: #d948411a;
          }

          .statusTxt {
            font-size: clamp(13px, 0.83vw, 16px);
            font-weight: 500;
            line-height: 100%;
            margin: 0;
          }
        }
      }
    }
  }

  .deviceInfo {
    @include align-center();
    gap: 3%;


    .eachDeviceInfo {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 9%;
      min-width: 105px;

      .infoTitle {
        color: #878787;
        font-size: clamp(11px, 0.625vw, 14px);
        font-weight: 400;
        margin: 0;
      }

      .infoValue {
        color: $blackColor;
        font-size: clamp(13px, 0.83vw, 18px);
        font-weight: 500;
        margin: 0;
      }
    }

    .avarageInfo {
      border-radius: 4px;
      background: #e1f0dc;
      display: flex;
      flex-direction: column;
      padding: 4px 8px;

      .infoTitle {
        color: #878787;
        font-size: clamp(8px, 0.55vw, 12px);
        font-weight: 400;
        margin: 0;
      }

      .infoValue {
        color: $greenColor;
        font-size: clamp(11px, 0.72vw, 16px);
        font-weight: 500;
        margin: 0;
      }
    }
  }

  .temparatureInfo {
    background: #d3d9f066;
    padding: 8px 12px;
    @include align-center();
    justify-content: space-between;
    border-radius: 0 0 6px 6px;

    .tempItems {
      @include align-center();
      gap: 1rem;

      .temparature {
        @include align-center();
        gap: 4px;

        p {
          font-size: clamp(13px, 0.83vw, 17px);
          font-family: $fontPrimary;
        }
      }

      .errorBlock {
        @include align-center();
        gap: 4px;
        border-radius: 60px;
        background: #d948411a;
        padding: 4px 10px;

        h6 {
          color: $secondaryColor;
          font-size: clamp(13px, 0.83vw, 16px);
          font-weight: 500;
          margin: 0;
        }
      }
    }

    .actionsList {
      @include align-center();
      gap: 1rem;

      .assignUserBtn {
        border-radius: 4px;
        background: $whiteColor;
        color: $blackColor;
        font-size: clamp(12px, 0.72vw, 15px);
        font-weight: 400;
        text-transform: capitalize;
        font-family: $fontPrimary;
        box-shadow: none;
        letter-spacing: 0;
        padding: 4px 15px;
      }

      .userInfo {
        @include align-center();
        gap: 4px;

        .userAvathar {
          background-color: $avatharColor;
          height: 25px;
          width: 25px;
          font-size: 12px;
        }

        .userName {
          color: $blackColor;
          font-size: clamp(12px, 0.72vw, 15px);
          font-weight: 400;
          margin: 0;
          letter-spacing: 0;
        }
      }

      .viewBtn {
        border-radius: 4px;
        border: 1px solid $whiteColor;
        background: #d948411a;
        color: $secondaryColor;
        font-family: $fontPrimary;
        font-size: clamp(13px, 0.83vw, 18px);
        font-weight: 500;
        text-transform: capitalize;
        box-shadow: none;
        padding: 2px 8px;
        letter-spacing: 0;
      }
    }
  }
}