#deviceViewPage {
  .backBtn {
    border-radius: 4px;
    border: 1px solid $backBtnCOlor;
    color: $backBtnCOlor;
    font-family: $fontPrimary;
    font-size: clamp(11px, 0.72vw, 15px);
    font-weight: 500;
    text-transform: capitalize;
    padding: 1px 2px 1px 6px;
    margin-bottom: 1.5rem;
  }
  .headerBlock {
    .status {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      p {
        font-family: $fontPrimary;
        font-size: clamp(13px, 0.83vw, 16px);
        font-weight: 400;

        &.active {
          color: $greenColor;
        }

        &.inactive {
          color: $secondaryColor;
        }
      }
    }
    .levelTabs {
      .tabBtn {
        text-transform: capitalize;
        color: #45a8a8;
        font-family: $fontPrimary;
        font-size: clamp(12px, 0.72vw, 16px);
        font-weight: 500;
        padding: 0;
        border-radius: 60px;
        min-height: inherit;
        padding: 4px 8px;
        margin-right: 1em;

        &.Mui-selected {
          background: #bfdfe3;
          color: #45a8a8;
        }
      }

      .MuiTabs-indicator {
        background-color: transparent;
      }
    }
    .MuiTabs-root {
      min-height: inherit;
    }
  }
  .deviceinfo {
    .deviceName {
      color: $blackColor;
      font-family: $fontPrimary;
      font-size: clamp(14px, 0.93vw, 18px);
      font-weight: 500;
      line-height: 100%;
      margin-bottom: 0.5rem;
    }

    .deviceNum {
      color: #000000b3;
      font-family: $fontPrimary;
      font-size: clamp(14px, 0.93vw, 18px);
      font-weight: 500;
      line-height: 100%;
    }
  }

  .deviceInfoContainer {
    margin-top: 1px;
    align-self: stretch;

    .eachDetailsCard {
      box-shadow: none;
      border-radius: 8px;
      border: 1px solid #e6e9f2;

      .cardHeader {
        border-bottom: 1px solid #e6e9f2;
        background: #e4f5e3;
        padding: 0.3rem 0.5rem;
        border-radius: 6px 6px 0 0;

        h6 {
          color: #45a845;
          font-family: $fontPrimary;
          font-size: clamp(12px, 0.72vw, 15px);
          font-weight: 500;
          letter-spacing: 0;
          display: flex;
          align-items: center;
          gap: 0.3rem;
        }
      }

      .cardBody {
        padding: 0.8rem 0.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        grid-gap: 1.5rem 0.5rem;

        @media (max-width: 1280px) {
          grid-template-columns: repeat(3, 1fr);
        }

        .eachBodyInfo {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 5px;
          .errorText {
            border-radius: "60px";
            background: "rgba(217, 72, 65, 0.40)";
            padding: "5px 10px";
          }
          label {
            color: #000000b3;
            font-family: $fontPrimary;
            font-size: clamp(11px, 0.625vw, 13px);
            font-weight: 400;
          }

          p {
            color: #35353d;
            font-family: $fontPrimary;
            font-size: clamp(13px, 0.83vw, 17px);
            font-weight: 400;

            &.radioOn {
              color: $greenColor;
            }

            &.radioOff {
              color: $secondaryColor;
            }

            &.errorData {
              display: flex;
              align-items: center;
              gap: 4px;
              border-radius: 60px;
              background: #d948411a;
              padding: 4px 10px;
              color: $secondaryColor;
              font-size: clamp(13px, 0.83vw, 16px);
              font-weight: 500;
              margin: 0;
            }
          }

          &.avarageBlock {
            border-radius: 4px;
            background: #d0d5dd;
            width: 80%;
            padding: 4px 10px;
            gap: 2px;

            label {
              font-size: clamp(10px, 0.625vw, 13px) !important;
            }
          }

          &.avaragePfBlock {
            border-radius: 4px;
            background: #e1f0dc;
            width: 80%;
            padding: 4px 10px;
            gap: 2px !important;

            label {
              font-size: clamp(10px, 0.625vw, 13px) !important;
            }

            p {
              color: $greenColor !important;
            }
          }
        }

        &.voltageMesurement {
          grid-template-columns: repeat(1, 1fr) !important;

          .eachInnerBody {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1.5rem 0.2rem;
          }
        }

        &.harmonicDistortion {
          grid-template-columns: repeat(6, 1fr) !important;
        }
      }

      .noData {
        padding: 0.5rem;
        font-size: clamp(13px, 0.83vw, 17px);
        font-family: $fontPrimary;
        height: calc(100% - 45px);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.errorsCard {
        .cardInfo {
          background: rgba(217, 72, 65, 0.3);
          padding: 1em;

          .infoText {
            color: #000;
            font-family: $fontPrimary;
            font-size: clamp(11px, 0.625vw, 13px);
            font-weight: 400;
            line-height: 130%;
          }
        }
        .cardBody {
          grid-template-columns: repeat(2, 1fr) !important;
        }
      }
    }
    .blockHeading {
      color: #45a845;
      font-family: $fontPrimary;
      font-size: clamp(15px, 0.93vw, 18px);
      font-weight: 500;
      line-height: 100%;
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }
  .eachDetailCard {
    box-shadow: none;
    .card {
      display: grid;
      grid-template-columns: 40% 60%;
      align-items: center;
      padding: 16px;
      border-radius: 8px;
      box-shadow: 0px 0px 16px 0px rgba(100, 130, 108, 0.25);

      background-color: #fff;

      .left-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 16px;
        border-right: 1px solid #d0d5dd;

        img {
          margin-bottom: 4px;
        }

        .total-text {
          font-size: clamp(13px, 0.72vw, 16px);
          font-weight: 400;
          margin-bottom: 4px;
          font-family: "Inter", sans-serif;
          color: rgba(0, 0, 0, 0.7);
        }

        .total-value {
          font-size: clamp(23px, 1.4vw, 30px);
          font-weight: 400;
          color: #35353d;
          font-family: $fontPrimary;
          line-height: 100%;
        }
      }

      .right-column {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-grow: 1;
        justify-content: space-between;

        .row {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 4px 0;

          .label {
            color: rgba(0, 0, 0, 0.7);
            font-family: $fontPrimary;
            font-size: clamp(11px, 0.625vw, 13px);
            font-weight: 400;
            line-height: 100%; /* 12px */
          }

          .value {
            color: #35353d;
            font-family: $fontPrimary;
            font-size: clamp(13.5px, 0.83vw, 18px);
            font-weight: 400;
            line-height: 100%; /* 16px */
          }
        }
      }
    }
  }
  .eachDetailCardSingle {
    box-shadow: none;
    height: 100%;
    padding: 2px;
    box-sizing: border-box;
    background: linear-gradient(
      to right,
      #ff4e41,
      #45a845
    ); // Gradient for border
    border-radius: 8px;
    border: 2px;

    .card {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      padding: 16px;
      border-radius: 8px;
      box-shadow: 0px 0px 16px 0px rgba(100, 130, 108, 0.25);
      height: 100%;
      box-sizing: border-box;
      background-color: #fff;

      .right-column {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-grow: 1;
        justify-content: space-between;

        .row {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 4px 0;

          .label {
            color: rgba(0, 0, 0, 0.7);
            font-family: $fontPrimary;
            font-size: clamp(11px, 0.625vw, 13px);
            font-weight: 400;
            line-height: 100%; /* 12px */
            font-weight: bold;
          }

          .value {
            color: #35353d;
            font-family: $fontPrimary;
            font-size: clamp(13.5px, 0.83vw, 18px);
            font-weight: 400;
            line-height: 100%; /* 16px */
            font-weight: bold;
          }
        }
      }
    }
  }

  .activityBlock {
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 0px 16px 0px rgba(100, 130, 108, 0.25);
    box-sizing: border-box;
    padding: 1.9em;
    .pageHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .pageHeading {
        color: #35353d;
        text-align: center;
        margin: 0;
        font-size: clamp(15px, 0.93vw, 20px);
        font-weight: 400;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 0.3rem;
      }
      .filterBlock {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 1em;
        .defaultAutoComplete {
          width: 100%;
          max-width: 350px;
          .MuiInputBase-root {
            background: $whiteColor;
            color: #6a718599;
            font-weight: 400;
            box-sizing: border-box;
            border-radius: 6px;
            border: 1px solid $textFeildStroke;
            font-family: $fontPrimary;
            font-size: clamp(0.75em, 0.72vw, 1.1em);

            fieldset {
              border: 0 !important;
            }
          }
          .MuiAutocomplete-tag {
            background-color: #e0f7fa;
            color: #00695c;
            border-radius: 40px;
            margin-right: 6px;
            padding: 4px 4px;
            font-size: clamp(11px, 0.625vw, 13px);
            font-family: $fontPrimary;
            min-height: inherit;
            min-width: inherit;
            height: inherit;

            .MuiChip-deleteIcon {
              color: #e57373;
              font-size: 15px;
              &:hover {
                color: #d32f2f;
              }
            }
          }

          .MuiAutocomplete-inputRoot {
            padding: 4px;
          }
        }
      }
    }
    .recharts-wrapper {
      width: 100% !important;
    }
  }
}
