.mainBodyContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: auto;
  margin-left: 12rem;
  .mainContainer {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    .mainChlidren {
      background: $whiteColor;
      width: 100%;
      position: relative;
      box-sizing: border-box;
      padding: 1.5rem;
    }
  }
}
