.pagetitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}
.inputtype,
.selectdevice {
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
}
.inputtype {
  border: 0;
  background-color: transparent;
  width: 303px;
}
.selectdevice {
  width: 220px;
}
.searchgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.avatarIcon {
  width: 36px;
  position: relative;
  border-radius: 50%;
  height: 36px;
  object-fit: cover;
}
.designation,
.profile {
  margin: 0;
  position: relative;
  line-height: 100%;
}
.profile {
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.designation {
  font-size: 12px;
  color: var(--green-gradient);
}
.profilename {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0;
  gap: var(--gap-9xs);
}
.icon {
  width: 14px;
  height: 14px;
}
.profilegroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.headnav,
.searchsection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchsection {
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-sm);
  color: #252525;
}
.headnav {
  width: 100%;
  background-color: $whiteColor;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-5xl);
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #d5d9dd;
  .navActions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: 80%;

    .defaultTextFeild {
      width: 250px;
      .MuiInputBase-root {
        background: $whiteColor;
        color: $blackColor;
        font-weight: 400;
        font-size: 13.5px;
        box-sizing: border-box;
        border-radius: 3;
        height: 30px;
        border: 1px solid #d2dff4;
        font-family: "Poppins", sans-serif;
        font-size: clamp(0.75em, 0.72vw, 1.1em);

        fieldset {
          border: 0 !important;
        }
      }
    }
    .defaultSelect {
      width: 150px;
      .MuiSelect-select {
        width: 100%;
        font-family: "Poppins", sans-serif;
        padding: 3px 11px !important;
        font-size: clamp(0.75em, 0.72vw, 1.1em);
        border: 1px solid #d2dff4;
        border-radius: 4px;
      }
      .MuiSvgIcon-root {
        width: 0.9em;
      }
      fieldset {
        border: 0;
        border-radius: 4px;
      }
    }
    .addUserBtn {
      border-radius: 4px;
      background: $primaryColor;
      text-transform: capitalize;
      color: $whiteColor;
      font-family: "Inter", sans-serif;
      font-size: clamp(11px, 0.72vw, 15px);
      font-weight: 500;
      padding: 5px 10px;
      box-shadow: none;
    }
  }
}
