.form {
  width: 90%;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  .eachFormContainer {
    flex: 0 1 32.66%;
    background-color: $whiteColor;
    padding: 0 0.5rem 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-sizing: border-box;

    .eachBlockHeading {
      margin: 0;
      padding: 0.6rem 0.5rem;
      color: $blackColor;
      font-family: $fontPrimary;
      font-size: clamp(13px, 0.79vw, 16px);
      font-weight: 500;
      letter-spacing: 0;
      border-bottom: 1px solid #c1c5c9;
    }
    .eachFeildGrp {
      margin-bottom: 0.8rem;
    }
    .fieldGroup {
      padding: 0 0.5rem;
      margin-top: 9.6px;
      display: flex;
      flex-direction: column;

      .label {
        margin-bottom: 4px;
        color: #4d4d4d;
        font-family: $fontPrimary;
        font-size: clamp(12px, 0.72vw, 14px);
        font-weight: 400;
      }

      .settingsTextFeild {
        width: 100%;
        &.passwordFeild {
          width: 60% !important;
        }
        &.rangeTextFeild {
          width: 30%;
        }
        .MuiInputBase-root {
          background: $whiteColor;
          color: #6a718599;
          font-weight: 400;
          font-size: 13.5px;
          box-sizing: border-box;
          border-radius: 3;
          height: 30px;
          border: 1px solid $textFeildStroke;
          font-family: $fontPrimary;
          font-size: clamp(0.75em, 0.72vw, 1.1em);

          fieldset {
            border: 0 !important;
          }

          .MuiTypography-root {
            font-size: clamp(0.75em, 0.72vw, 1.1em);
          }
        }
      }

      .settingSelectFeild {
        width: 100%;

        .MuiSelect-select {
          width: 100%;
          font-family: $fontPrimary;
          padding: 3px 11px !important;
          font-size: clamp(0.75em, 0.72vw, 1.1em);
          border: 1px solid $textFeildStroke;
          border-radius: 4px;
          color: $blackColor;
        }

        .MuiSvgIcon-root {
          width: 0.9em;
        }

        fieldset {
          border: 0;
          border-radius: 4px;
        }
      }

      .radioGrp {
        .MuiFormGroup-root {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          margin: 0.5rem 0 0;

          .MuiFormControlLabel-root {
            margin: 0;
          }

          .MuiButtonBase-root {
            color: #d9d9d9;
            padding: 0;

            &.Mui-checked {
              color: $primaryColor;
            }
          }

          .MuiTypography-root {
            color: rgba(0, 0, 0, 0.7);
            font-family: $fontPrimary;
            font-size: clamp(11px, 0.625vw, 14px);
            font-weight: 400;
            padding-left: 4px;
          }
        }

        .MuiSvgIcon-root {
          font-size: 16px;
        }
      }
    }

    .radioFeildGrp {
      padding: 0 0.5rem;
      margin-top: 9.6px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      &.sameLine {
        min-width: 100px;
        max-width: 150px;
        justify-content: space-between;
      }

      .label {
        margin-bottom: 4px;
        color: $blackColor;
        font-family: $fontPrimary;
        font-size: clamp(12px, 0.72vw, 15px);
        font-weight: 500;
      }

      .switchComponent {
        .MuiSwitch-thumb {
          color: #e47078;
        }

        .Mui-checked {
          .MuiSwitch-thumb {
            color: $greenColor !important;
          }
        }

        .MuiSwitch-track {
          background-color: #e47078;
        }

        .Mui-checked + .MuiSwitch-track {
          background-color: $greenColor !important;
        }
      }
    }
  }

  .eachFormCard {
    flex: 0 1 25%;
    background-color: $whiteColor;
    padding: 1rem;
    border-radius: 8px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 70px auto;
    align-items: flex-start;
    gap: 1rem;

    .fieldGroup {
      display: flex;
      flex-direction: column;

      .label {
        margin-bottom: 4px;
        color: rgba(0, 0, 0, 0.7);
        font-family: $fontPrimary;
        font-size: clamp(11px, 0.625vw, 14px);
        font-weight: 400;
        margin-top: 1.2rem;
      }

      .settingsTextFeild {
        width: 50%;

        .MuiInputBase-root {
          background: $whiteColor;
          color: #6a718599;
          font-weight: 400;
          font-size: 13.5px;
          box-sizing: border-box;
          border-radius: 3;
          height: 30px;
          border: 1px solid $textFeildStroke;
          font-family: $fontPrimary;
          font-size: clamp(0.75em, 0.72vw, 1.1em);

          fieldset {
            border: 0 !important;
          }

          .MuiTypography-root {
            font-size: clamp(0.75em, 0.72vw, 1.1em);
          }
        }
      }

      .settingSelectFeild {
        width: 100%;

        .MuiSelect-select {
          width: 100%;
          font-family: $fontPrimary;
          padding: 3px 11px !important;
          font-size: clamp(0.75em, 0.72vw, 1.1em);
          border: 1px solid $textFeildStroke;
          border-radius: 4px;
          color: $blackColor;
        }

        .MuiSvgIcon-root {
          width: 0.9em;
        }

        fieldset {
          border: 0;
          border-radius: 4px;
        }
      }
    }
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  width: 90%;
  box-sizing: border-box;

  .btn {
    border-radius: 8px;
    text-transform: capitalize;
    font-family: $fontPrimary;
    font-size: clamp(13px, 0.83vw, 18px);
    font-weight: 500;
    box-shadow: none;
    min-width: inherit;

    &.cancelBtn {
      color: $secondaryColor;
    }

    &.saveBtn {
      background-color: $secondaryColor;
      color: $whiteColor;
      padding: 6px 2rem;
    }
  }
}
