.form {
  width: 100%;
  display: flex;
  gap: 1rem;
  .eachFormContainer {
    flex: 1 1 calc(33.333% - 1rem);
    background-color: $whiteColor;
    padding: 0 0.5rem 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    .eachBlockHeading {
      margin: 0;
      padding: 0.6rem 0.5rem;
      color: $blackColor;
      font-family: "Inter", sans-serif;
      font-size: clamp(12px, 0.72vw, 15px);
      font-weight: 500;
      letter-spacing: 0;
      border-bottom: 1px solid #d5d9dd;
    }
    .fieldGroup {
      padding: 0 0.5rem;
      margin-top: 9.6px;
      display: flex;
      flex-direction: column;

      .label {
        margin-bottom: 4px;
        color: rgba(0, 0, 0, 0.7);
        font-family: "Inter";
        font-size: clamp(11px, 0.625vw, 14px);
        font-weight: 400;
      }
      .settingsTextFeild {
        width: 100%;
        .MuiInputBase-root {
          background: $whiteColor;
          color: #6a718599;
          font-weight: 400;
          font-size: 13.5px;
          box-sizing: border-box;
          border-radius: 3;
          height: 30px;
          border: 1px solid $textFeildStroke;
          font-family: "Inter", sans-serif;
          font-size: clamp(0.75em, 0.72vw, 1.1em);

          fieldset {
            border: 0 !important;
          }
        }
      }

      .settingSelectFeild {
        width: 100%;
        .MuiSelect-select {
          width: 100%;
          font-family: "Inter", sans-serif;
          padding: 3px 11px !important;
          font-size: clamp(0.75em, 0.72vw, 1.1em);
          border: 1px solid $textFeildStroke;
          border-radius: 4px;
          color: #6a718599;
        }
        .MuiSvgIcon-root {
          width: 0.9em;
        }
        fieldset {
          border: 0;
          border-radius: 4px;
        }
      }
      .radioGrp {
        .MuiFormGroup-root {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          margin: 0.5rem 0 0;
          .MuiFormControlLabel-root {
            margin: 0;
          }
          .MuiButtonBase-root {
            color: #d9d9d9;
            padding: 0;
            &.Mui-checked {
              color: $primaryColor;
            }
          }
          .MuiTypography-root {
            color: rgba(0, 0, 0, 0.7);
            font-family: "Inter";
            font-size: clamp(11px, 0.625vw, 14px);
            font-weight: 400;
            padding-left: 4px;
          }
        }
        .MuiSvgIcon-root {
          font-size: 16px;
        }
      }
    }
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  .btn {
    border-radius: 8px;
    text-transform: capitalize;
    font-family: "Inter";
    font-size: clamp(13px, 0.83vw, 18px);
    font-weight: 500;
    box-shadow: none;
    min-width: inherit;
    &.cancelBtn {
      color: $secondaryColor;
    }
    &.saveBtn {
      background-color: $secondaryColor;
      color: $whiteColor;
      padding: 6px 2rem;
    }
  }
}
