.morocoDevice {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}

.icondot {
  width: 6px;
  position: relative;
  border-radius: 50%;
  height: 6px;
}

.online {
  margin: 0;
  position: relative;
  line-height: 100%;
  font-weight: 500;
}

.devicename,
.devicestatus {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.devicestatus {
  border-radius: var(--br-9xs);
  background-color: rgba(69, 168, 69, 0.1);
  justify-content: center;
  padding: 7px 14px;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
  color: var(--green-brand);
}

.devicename {
  flex: 1;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-base);
}

.iconsetting {
  width: 32px;
  border-radius: 5px;
  height: 32px;
  min-height: 32px;
}

.deviceheading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  gap: var(--gap-5xl);
  font-size: var(--font-size-lg);
  color: var(--color-black);
}

.averageVoltageLn,
.v {
  margin: 0;
  position: relative;
  line-height: 100%;
}

.averageVoltageLn {
  align-self: stretch;
}

.v {
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: inherit;
  color: var(--color-black);
}

.devicecolumn {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 120px;
}

.averageVoltageLl,
.v1 {
  margin: 0;
  position: relative;
  line-height: 100%;
}

.v1 {
  align-self: stretch;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: inherit;
  color: var(--color-black);
}

.devicecolumn1,
.devicerow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.devicecolumn1 {
  flex-direction: column;
  gap: var(--gap-7xs);
  min-width: 120px;
}

.devicerow {
  align-self: stretch;
  border-bottom: 1px solid #eeeef0;
  flex-direction: row;
  padding: 0 var(--padding-base) var(--padding-xs);
  gap: var(--gap-29xl);
}

.h53 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
  color: var(--green-gradient);
}

.devicecolumn6,
.devicerow1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.devicecolumn6 {
  border-radius: var(--br-9xs);
  background-color: #e1f0dc;
  flex-direction: column;
  padding: 4px var(--padding-5xs);
  gap: var(--gap-7xs);
  font-size: 10px;
}

.devicerow1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base) var(--padding-xs);
  gap: var(--gap-29xl);
}

.icontemperature {
  width: 68px;
  height: 24px;
}

.iconinfo {
  width: 20.3px;
  height: 20.3px;
  overflow: hidden;
  flex-shrink: 0;
}

.noVoltageError {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}

.errormessage,
.temperaturecolumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.errormessage {
  border-radius: var(--br-41xl);
  background-color: var(--background-red);
  padding: 6px var(--padding-xs);
  gap: var(--gap-9xs);
}

.temperaturecolumn {
  gap: 19px;
}

.profileavatarIcon {
  width: 28px;
  border-radius: var(--br-41xl);
  height: 28px;
  object-fit: cover;
}

.profilename {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
}

.profilegroup {
  width: 163px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}

.icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.devicestatus1 {
  border-radius: var(--br-9xs);
  background-color: var(--background-red);
  border: 1px solid var(--neutral-white-100);
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  color: var(--red);
}

.devicestatus1,
.devicetemperature,
.profilecolumn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profilecolumn {
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}

.devicetemperature {
  align-self: stretch;
  background-color: rgba(211, 217, 240, 0.4);
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-base);
  font-size: var(--font-size-base);
  color: var(--red);
}

.devicegroup,
.devicesection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.devicegroup {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}

.devicesection {
  width: 160%;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: var(--neutral-white-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
  height: 100%;
}