.container {
  display: flex;
  justify-content: space-between;
}

.left-panel,
.right-panel {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.left-panel {
  width: 60%;
}

.right-panel {
  width: 35%;
}

#viewSettings {
  .headerBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .userInfo {
      display: flex;
      align-items: center;
      gap: 1rem;
      .userProfile {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        h6 {
          color: $blackColor;
          font-family: "Inter";
          font-size: clamp(14px, 0.93vw, 19px);
          font-weight: 400;
          line-height: 100%;
        }
      }
      .status {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        p {
          color: $greenColor;
          font-family: "Inter";
          font-size: clamp(13px, 0.83vw, 16px);
          font-weight: 400;
        }
      }
    }
    .levelTabs {
      .tabBtn {
        text-transform: capitalize;
        color: $blackColor;
        font-family: "Inter";
        font-size: clamp(13px, 0.83vw, 17px);
        font-weight: 400;
        padding: 0;
        &.Mui-selected {
          color: #ff7a00;
        }
      }
      .MuiTabs-indicator {
        background-color: #ff7a00;
      }
    }
  }
  .tab-content {
    
  }
}
