.container {
  display: flex;
  justify-content: space-between;
}

.left-panel,
.right-panel {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.left-panel {
  width: 60%;
}

.right-panel {
  width: 35%;
}

#viewSettings {
  width: 95%;
  .headerBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .userInfo {
      display: flex;
      align-items: center;
      gap: 1rem;
      .userProfile {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        h6 {
          color: $blackColor;
          font-family: $fontPrimary;
          font-size: clamp(14px, 0.93vw, 19px);
          font-weight: 400;
          line-height: 100%;
        }
      }
      .status {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        p {
          font-family: $fontPrimary;
          font-size: clamp(13px, 0.83vw, 16px);
          font-weight: 400;
          &.active {
            color: $greenColor;
          }
          &.inactive {
            color: $secondaryColor;
          }
        }
      }
      .editbtn {
        padding: 4px 10px !important;
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
    .levelTabs {
      .tabBtn {
        text-transform: capitalize;
        color: $blackColor;
        font-family: $fontPrimary;
        font-size: clamp(13px, 0.83vw, 17px);
        font-weight: 400;
        padding: 0;
        &.Mui-selected {
          color: #ff7a00;
        }
      }
      .MuiTabs-indicator {
        background-color: #ff7a00;
      }
    }
  }
}
#levelOne {
  .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    .eachFormContainer {
      flex: 0 1 49%;
      background-color: $whiteColor;
      padding: 0 0.5rem 1rem;
      border-radius: 8px;
      margin-bottom: 1rem;
      box-sizing: border-box;
      border: 1px solid #dfdfdf;
      height: fit-content;

      .eachBlockHeading {
        margin: 0;
        padding: 0.8rem 0.5rem 0.4rem;
        color: $blackColor;
        font-family: $fontPrimary;
        font-size: clamp(11.5px, 0.72vw, 15px);
        font-weight: 500;
        letter-spacing: 0;
        border-bottom: 1px solid #d5d9dd;
        &:not(:first-child) {
          padding: 1rem 0.5rem 0.4rem !important;
        }
      }
      .fieldGroup {
        padding: 0 0.5rem;
        margin-top: 9.6px;
        display: flex;
        flex-direction: column;

        .label {
          margin-bottom: 4px;
          color: #000000b3;
          font-family: $fontPrimary;
          font-size: clamp(10px, 0.625vw, 14px);
          font-weight: 400;
          white-space: nowrap;
        }

        .value {
          color: #35353d;
          font-family: $fontPrimary;
          font-size: clamp(13px, 0.83vw, 16px);
          font-weight: 400;
          &.radioOff {
            color: $secondaryColor !important;
          }
          &.radioOn {
            color: $greenColor;
          }
        }
        .passwordSetting {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          .settingsTextFeild {
            width: 40% !important;
          }
          .resetPasswordTxt {
            color: $secondaryColor;
            font-family: $fontPrimary;
            font-size: clamp(12px, 0.72vw, 15px);
            font-weight: 400;
            letter-spacing: 0;
            text-transform: capitalize;
            &:hover {
              background: transparent;
            }
          }
        }
        &.levelFanFeild {
          margin: 0;

          .radioOff {
            position: relative;
            padding-left: 13px;
            &::before {
              content: "";
              height: 6px;
              width: 6px;
              border-radius: 100%;
              background-color: $secondaryColor;
              position: absolute;
              top: calc(50% - 3px);
              left: 3px;
            }
          }
          .radioOn {
            color: $greenColor;
            position: relative;
            padding-left: 13px;
            &::before {
              content: "";
              height: 6px;
              width: 6px;
              border-radius: 100%;
              background-color: $greenColor;
              position: absolute;
              top: calc(50% - 3px);
              left: 3px;
            }
          }
        }
      }
      .fanSettings {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        padding: 1rem 0.5rem 0.3rem;
        .levelFanGrp {
          display: flex;
          align-items: center;
          gap: 1rem;
          .tempBlock {
            display: flex;
            align-items: center;
          }
        }
      }
      .grp {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.5rem 2rem;
        &.timingSettings {
          grid-template-columns: 100px auto !important;
        }
      }
    }
  }
}

.MuiTooltip-tooltip {
  background-color: $whiteColor !important;
  color: $blackColor !important;
  font-weight: 500;
  box-shadow: 0px 0px 10px #e6e4e4;
}
.MuiTooltip-arrow {
  color: #e6e4e4;
}
